{% extends "base.html" %}
{% load recommends %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{v.ign_image}}"width="150px"/>
    </div>
    <div class="col-md-10">
      <h2>{{v.name}}</h2>
      <p>Genre: {{v.genre}}</p>
      {% for p in v.platforms.all %}
      <p>Platform: {{p.name}}</p>
      {% endfor %}
      <p>Description: {{v.description}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Related Titles</h3>
    </div>
  </div>

  <div class="row">
    {% for similarity in v|similarities:4 %}
    <div class="col-md-3">
      {% include 'partials/video_game_small.html' with video_game=similarity.related_object %}
    </div>
    {% endfor %}
  </div>

  <br/><br/><br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Reviews & Ratings</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="http://upload.wikimedia.org/wikipedia/commons/3/37/No_person.jpg"/>
    </div>
    <div class="col-md-8">
      <h2>* * * * *</h2>
    </div>
    <div class="col-md-8">
      <h6>What user thought of the game</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="http://upload.wikimedia.org/wikipedia/commons/3/37/No_person.jpg"/>
    </div>
    <div class="col-md-8">
      <h2>* * * * *</h2>
    </div>
    <div class="col-md-8">
      <h6>What user thought of the game</h6>
    </div>
  </div>
</div>

{% endblock %}
