{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Results just for you</h1>
    </div>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-md-12">
      {% for v in video_games %}
      {% rating_by_request request on v.rating as vote %}
      {% if forloop.counter0|divisibleby:4 %} <div class="row"> {% endif %}
        <div class="col-md-3">
          {% include 'partials/video_game_small.html' with video_game=v %}
        </div>
        {% if forloop.counter|divisibleby:4 %} </div> {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}>
