{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="well">

        <form method="post" action="." class="form">
          <fieldset>
            <legend>Password Reset</legend>
            {% csrf_token %}
            {{ form | crispy }}

            <div class="control-group">
              <input type="submit" value="{% trans 'Request Password Reset' %}" class="btn btn-default" />
            </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
